.Heading{
    color: blanchedalmond;
}
body{
    background-color: black;
}
.wholecode{
    text-align: center;
}
.buyfactory{
    margin-left: 50px;
    
}
.factory{

color: aliceblue;

}
.buybuilding{
margin-left: 50px;

}
.Buildingimg{
margin-left: 50px;


}
.Building{
color: aliceblue;

}