.Heading{
    color: blanchedalmond;
}
body{
    background-color: rgb(255, 255, 255);
}
.coin{
background-color: transparent;

}
.wholecode{
    text-align: center;
}
.buyfactory{
    margin-left: 50px;
    
}
.factory{

color: black;

}
.buybuilding{
margin-left: 50px;

}
.Buildingimg{
margin-left: 50px;


}
.Building{
color: black;

}
.grid{
display: grid;
grid-template-rows: 30% 30% 40%;
grid-template-columns:15% 30% 60% ;
}
